<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ethereum poc</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="scripts/Angular1.5.js"></script>
    <script src="scripts/MainController.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
</head>
<body>

<div ng-app="ethereumApp">
    <div ng-controller="MainCtrl">
        <form ng-submit="searchButtonClick()">
            <p>
                First Name : <input type="string" ng-model="person.firstName"/>
            </p>
            <p>
                Last Name : <input type="string" ng-model="person.lastName"/>
            </p>
        </form>
        <button class="btn btn-success" ng-click="searchButtonClick()">Search</button>
        <p>The hash of your last name is : {{person.lastName}}</p>
    </div>
</div>

</body>
</html>